<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" aria-label="Adatvédelmi nyilatkozat">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#privacy"
                aria-controls="privacy" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="privacy">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/privacy">Adatvédelmi nyilatkozat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>