<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0">TClone</span>
        <div class="d-flex">
            <span class="text-light"> <%= title %></span>
        </div>
    </div>
</nav>