<%- include('header') %>
<%- include('navbar', {title:'Jelszó módosítás'}) %>
<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col col-md-6">
            <%- include('forms/newpw') %>
        </div>
    </div>
</div>
<%- include('footer') %>